<template>
  <button
    :class="`button button--${buttonDisplayType}`"
    :type="buttonType"
    :onclick="handleButtonClick"
    :disabled="isDisabled"
  >
    <span class="button__content">
      <slot/>
    </span>
  </button>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import ButtonTypes from '@/components/ui_elements/enum/ButtonTypes';
import ButtonDisplayTypes from '@/components/ui_elements/enum/ButtonDisplayTypes';

export default defineComponent({
  props: {
    handleClick: { type: Function as PropType<() => void>, required: true },
    displayType: String as PropType<ButtonDisplayTypes>,
    type: String as PropType<ButtonTypes>,
    isDisabled: Boolean,
  },
  setup(props) {
    return {
      buttonType: props.type ?? ButtonTypes.BUTTON,
      buttonDisplayType: props.displayType ?? ButtonDisplayTypes.DEFAULT,
      handleButtonClick: () => {
        if (!props.isDisabled) {
          props.handleClick();
        }
      },
    };
  },
});
</script>

<style lang="scss" scoped>
@import "src/assets/styles/abstracts/variables";

.button {
  padding: spacer(3) spacer(6);
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: $color-button-primary;
  box-shadow: inset 0 0 0 2px $color-button-primary;

  &:disabled {
    opacity: .2;
    cursor: not-allowed;
  }

  &:hover {
    &:not(:disabled) {
      opacity: .8;
    }

  }

  &--primary {
    background-color: $color-button-primary;
    color: $color-text-light;
  }

  &__content {
    display: inline-block;

    white-space: nowrap;
    text-align: center;
    font-size: $font-size-28;
    line-height: 1.22;
    font-weight: 700;
  }
}
</style>
