<template v-if="options.length">
  <a-dropdown :trigger="['click']">
    <a class="ant-dropdown-link" @click.prevent>
      <PlusOutlined />
      {{label}}
    </a>

    <template #overlay>
      <a-menu>
        <a-menu-item  v-for="option in options" :key="option.value">
          <a-button type="link" :onclick="() => handleClick(option.value)">{{option.label}}</a-button>
        </a-menu-item>
      </a-menu>
    </template>
  </a-dropdown>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { PlusOutlined } from '@ant-design/icons-vue';
import { ISelectOption } from '@/components/ui_elements/interface/ISelectOption';

export default defineComponent({
  components: {
    PlusOutlined,
  },
  props: {
    label: String,
    options: { type: Array as PropType<ISelectOption[]>, required: true },
    handleClick: { type: Function as PropType<(optionValue: string) => void>, required: true },
  },
});
</script>
