<template>
  <div class="input-wrapper">
    <label v-if="label" class="input-wrapper__label">{{label}}</label>
    <slot />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  props: {
    label: String,
  },
});
</script>

<style lang="scss" scoped>
@import '../../assets/styles/abstracts/variables';

.input-wrapper {
  display: flex;
  flex-flow: column;

  &+& {
    margin-top: spacer(4);
  }

  &__label {
    margin-bottom: spacer(2);
  }
}
</style>
