<template>
  <div class="labeled-list" v-if="items.length">
    <template v-for="([label, value], index) in items" :key="index">
      <div class="labeled-list__item"  v-if="value" >
          <span class="labeled-list__item-label">{{label}}</span>
          <span class="labeled-list__item-value">{{value}}</span>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { LabeledListItemType } from '@/components/ui_elements/interface/LabeledListItemType';

export default defineComponent({
  props: {
    items: {
      type: Array as PropType<LabeledListItemType[]>,
      required: true,
    },
  },
});
</script>

<style lang="scss" scoped>
@import '../../assets/styles/abstracts/variables';

.labeled-list {
  &__item {
    display: flex;

    &+& {
      margin-top: spacer(4);
    }

    &-label {
      font-weight: 700;
      flex-shrink: 0;
      width: percentage(1/3);
    }

    &-value {
      width: 100%;
    }
  }
}
</style>
