<template>
  <div>
    <a-modal :visible="isOpen" :title="title" :closable="false">
      <template #footer>
        <a-button key="back" @click="handleCancel">Close</a-button>
      </template>

      <slot />
    </a-modal>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

export default defineComponent({
  props: {
    handleCancel: { type: Function as PropType<() => void>, required: true },
    isOpen: { type: Boolean, required: true },
    title: { type: String, required: true },
  },
});
</script>
