<template>
  <a-input-group compact>
    <a-select :value="phone.type" disabled="disabled">
      <a-select-option :value="phone.type">{{phoneCodifierValue.title}}</a-select-option>
    </a-select>

    <a-input :value="phone.number" @input="setValue" type="tel" />
  </a-input-group>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { IPhoneNumberModel } from '@/components/interface/IPhoneNumberModel';
import { ICodifierValueModel } from '@/components/interface/ICodifierValueModel';
import PhoneTypeCodes from '@/components/enum/PhoneTypeCodes';

export default defineComponent({
  props: {
    phone: { type: Object as PropType<IPhoneNumberModel>, required: true },
    phoneCodifierValue: { type: Object as PropType<ICodifierValueModel<PhoneTypeCodes>>, required: true },
    handleChange: { type: Function as PropType<(value: string) => void>, required: true },
  },
  setup(props) {
    const setValue = (e: Event) => {
      const target = e.target as HTMLInputElement;

      props.handleChange(target.value);
    };

    return {
      setValue,
    };
  },
});
</script>
