<template v-if="options.length">
  <a-radio-group :value="value" :onchange="setValue" v-for="option in options" :key="option.value" >
    <a-radio :value="option.value">{{option.label}}</a-radio>
  </a-radio-group>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { ISelectOption } from '@/components/ui_elements/interface/ISelectOption';
import MembershipCodes from '@/components/enum/MembershipCodes';

export default defineComponent({
  props: {
    options: { type: Array as PropType<ISelectOption[]>, required: true },
    value: { type: String as PropType<MembershipCodes>, required: true },
    handleChange: { type: Function as PropType<(optionValue: string) => void>, required: true },
  },
  setup(props) {
    const setValue = (e: Event) => {
      const target = e.target as HTMLInputElement;

      props.handleChange(target.value);
    };

    return {
      setValue,
    };
  },
});
</script>
