<template>
  <a-input :type="type" :disabled="isDisabled" :value="value" @input="setValue"/>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import TextInputTypes from '@/components/ui_elements/enum/TextInputTypes';

export default defineComponent({
  props: {
    value: { type: String, required: true },
    handleChange: { type: Function as PropType<(value: string) => void>, required: true },
    textInputType: String as PropType<TextInputTypes>,
    isDisabled: Boolean,
  },
  setup(props) {
    const setValue = (e: Event) => {
      const target = e.target as HTMLInputElement;

      props.handleChange(target.value);
    };

    return {
      type: props.textInputType ?? TextInputTypes.TEXT,
      setValue,
    };
  },
});
</script>
