<template>
    <div class="client-application-steps">
      <div class="client-application-steps__list" v-if="orderedStepsConfiguration.length">
        <template v-for="step in orderedStepsConfiguration" :key="step.handle">
          <div
               class="client-application-step-separator"
               :class="{'client-application-step-separator--is-inactive': !step.isActive && !step.isCompleted}"
          ></div>

          <div
            class="client-application-step"
            :class="{
              'client-application-step--is-active': step.isActive,
              'client-application-step--is-completed': step.isCompleted,
            }"
          >
            <div class="client-application-step__order-container">
              <span class="client-application-step__order-text">{{step.order}}</span>
            </div>

            <span class="client-application-step__title">{{step.title}}</span>
          </div>
        </template>
      </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { IClientApplicationStepOptions } from '@/components/steps/interface/IClientApplicationStepOptions';

export default defineComponent({
  props: {
    orderedStepsConfiguration: { type: Array as PropType<IClientApplicationStepOptions[]>, required: true },
  },
});
</script>

<style lang="scss" scoped>
@import "src/assets/styles/abstracts/variables";

$circle-height: 52px;

.client-application-steps {
  margin-bottom: spacer(12);

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

  }
}

.client-application-step-separator {
  &:first-child {
    display: none;
  }

  margin-top: $circle-height / 2;
  transform: translateY(-50%);
  background-color: $color-accent-blue;
  height: 2px;
  width: 100%;

  &--is-inactive {
    background-color: $color-background-table;
  }
}

.client-application-step {
  position: relative;
  padding-bottom: spacer(2);

  &--is-completed {
    .client-application-step {
      &__order-container {
        background-color: $color-accent-blue;
      }
    }
  }

  &--is-active {
    .client-application-step {
      &__order-container {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px $color-accent-blue;
        color: $color-text-accent;
      }
    }
  }

  &__order-container {
    width: $circle-height;
    height: $circle-height;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: $color-background-table;
    color: $color-text-light;
    line-height: 1;
    font-size: $font-size-28;
    font-weight: 900;
    padding-top: 2px;
  }

  &__title {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: $font-size-20;
    line-height: 1;
  }
}
</style>
