<template>
  <div class="client-application-step-content">
    <h1 class="client-application-step-content__title">{{step.title}}</h1>
    <ContactInformationFormFields v-if="step.handle === ClientApplicationStepHandles.CONTACT_INFO" />
    <MembershipFormFields v-else-if="step.handle === ClientApplicationStepHandles.MEMBERSHIP" />
    <OverviewStep v-else-if="step.handle === ClientApplicationStepHandles.OVERVIEW" />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from 'vue';
import { useStore } from 'vuex';
import ContactInformationFormFields from './ContactInformationFormFields.vue';
import OverviewStep from './OverviewStep.vue';
import MembershipFormFields from './MembershipFormFields.vue';
import ClientApplicationStepHandles from './enum/ClientApplicationStepHandles';

export default defineComponent({
  components: {
    ContactInformationFormFields,
    MembershipFormFields,
    OverviewStep,
  },
  props: {
    stepHandle: { type: String as PropType<ClientApplicationStepHandles> },
  },
  setup(props) {
    const store = useStore();

    return {
      ClientApplicationStepHandles,
      step: computed(() => store.getters.getClientApplicationStepByHandle(props.stepHandle)),
    };
  },
});
</script>

<style lang="scss" scoped>
@import "../../assets/styles/abstracts/variables";

.client-application-step-content {

  &__title {
    color: $color-accent-blue;
    font-size: $font-size-34;
    font-weight: 700;
    margin-bottom: spacer(7);
  }
}
</style>
