<template>
  <div class="client-application-navigation">
    <Button
      :is-disabled="isDisabled"
      v-if="navActions.navigatePrevious"
      :handle-click="navActions.navigatePrevious"
    >Back</Button>

    <Button
      :is-disabled="isDisabled"
      v-if="navActions.navigateNext"
      :handle-click="navActions.navigateNext" :display-type="ButtonDisplayTypes.PRIMARY"
    >Continue</Button>

    <Button
      :is-disabled="isDisabled"
      v-if="navActions.submit"
      :handle-click="navActions.submit"
      :display-type="ButtonDisplayTypes.PRIMARY"
    >Submit</Button>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from 'vue';
import { IClientApplicationStepOptions } from '@/components/steps/interface/IClientApplicationStepOptions';
import ButtonDisplayTypes from '@/components/ui_elements/enum/ButtonDisplayTypes';
import { useRouter } from 'vue-router';
import { useStore } from '@/store';
import clientApplicationRoutes from '@/router/constants/ClientApplicationRoutes';
import ActionMethods from '@/store/enum/ActionMethods';
import Button from '../ui_elements/Button.vue';

export default defineComponent({
  props: {
    orderedStepsConfiguration: { type: Array as PropType<IClientApplicationStepOptions[]>, required: true },
  },
  components: {
    Button,
  },
  setup(props) {
    const store = useStore();
    const { push } = useRouter();

    interface INavActions {
      navigatePrevious?: () => void;
      navigateNext?: () => void;
      submit?: () => void;
    }

    const navActions = computed<INavActions>(() => {
      interface INavSteps {
        prevStep?: IClientApplicationStepOptions
        currentStep?: IClientApplicationStepOptions
        nextStep?: IClientApplicationStepOptions
      }

      const navSteps: INavSteps = {};

      props.orderedStepsConfiguration.forEach((step, index) => {
        if (!step.isActive) {
          return;
        }

        navSteps.currentStep = step;

        const prevIndex = index - 1;
        if (props.orderedStepsConfiguration[prevIndex]) {
          navSteps.prevStep = props.orderedStepsConfiguration[prevIndex];
        }

        const nextStep = index + 1;
        if (props.orderedStepsConfiguration[nextStep]) {
          navSteps.nextStep = props.orderedStepsConfiguration[nextStep];
        }
      });

      const navigate = (step: IClientApplicationStepOptions | undefined) => {
        if (!step) {
          return undefined;
        }

        return () => { push(clientApplicationRoutes[step.handle]); };
      };

      return {
        navigatePrevious: navigate(navSteps.prevStep),
        navigateNext: navigate(navSteps.nextStep),
        submit: !navSteps.nextStep ? () => { store.dispatch(ActionMethods.CREATE_CLIENT_APPLICATION); } : undefined,
      };
    });

    return {
      navActions,
      ButtonDisplayTypes,
      isDisabled: computed(() => store.state.isLoading),
    };
  },
});
</script>

<style lang="scss" scoped>
@import '../../assets/styles/abstracts/variables';

.client-application-navigation {
  display: flex;
  flex-flow: column;
  margin-top: auto;
  padding-top: spacer(6);

  .button {
    width: 100%;
    &+.button {
      margin-top: spacer(4);
    }
  }
}
</style>
