<template>
  <InputWrapper label="First name">
    <TextInput :value="name" :handle-change="handleNameChange" />
  </InputWrapper>

  <InputWrapper label="Last name">
    <TextInput :value="surname" :handle-change="handleSurnameChange" />
  </InputWrapper>

  <InputWrapper label="E-mail">
    <TextInput :value="email" :handle-change="handleEmailChange" :textInputType="TextInputTypes.EMAIL" />
  </InputWrapper>

  <InputWrapper label="Phone" v-for="phone in phones" :key="phone.type" >
    <PhoneInput
      :phone="phone"
      :phone-codifier-value="phoneCodifierMap[phone.type]"
      :handle-change="(newNumber) => handlePhoneChange(phone, newNumber)"
    />
  </InputWrapper>

  <InputWrapper>
    <Dropdown label="Add phone" :options="addPhoneOptions" :handle-click="handleAddPhone"/>
  </InputWrapper>

</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import MutationMethods from '@/store/enum/MutationMethods';
import { useStore } from '@/store';
import { IPhoneNumberModel } from '@/components/interface/IPhoneNumberModel';
import Dropdown from '@/components/ui_elements/Dropdown.vue';
import PhoneTypeCodes from '@/components/enum/PhoneTypeCodes';
import { ISelectOption } from '@/components/ui_elements/interface/ISelectOption';
import InputWrapper from '../ui_elements/InputWrapper.vue';
import TextInput from '../ui_elements/TextInput.vue';
import PhoneInput from '../ui_elements/PhoneInput.vue';
import TextInputTypes from '../ui_elements/enum/TextInputTypes';

export default defineComponent({
  components: {
    Dropdown,
    InputWrapper,
    TextInput,
    PhoneInput,
  },
  setup() {
    const store = useStore();

    const phoneCodifierMap = computed(() => store.getters.phoneCodifierMap);

    type HandleChangeConsumer = (value: string) => void;

    const handleNameChange: HandleChangeConsumer = ((name) => {
      store.commit(MutationMethods.SET_NAME, name);
    });

    const handleSurnameChange: HandleChangeConsumer = ((surname) => {
      store.commit(MutationMethods.SET_SURNAME, surname);
    });

    const handleEmailChange: HandleChangeConsumer = ((email) => {
      store.commit(MutationMethods.SET_EMAIL, email);
    });

    const handlePhoneChange = ((phone: IPhoneNumberModel, newNumber: string) => {
      store.commit(MutationMethods.SET_PHONE, { ...phone, number: newNumber });
    });

    const addPhoneOptions = computed(() => {
      const dropdownOptions: ISelectOption[] = [];
      Object.values(PhoneTypeCodes).forEach((phoneTypeCode) => {
        const isCodeInUse = store.state.clientApplication.phones.some((phone) => phone.type === phoneTypeCode);
        if (!isCodeInUse) {
          dropdownOptions.push({
            label: phoneCodifierMap.value[phoneTypeCode].title,
            value: phoneTypeCode,
          });
        }
      });

      return dropdownOptions;
    });

    return {
      TextInputTypes,

      name: computed(() => store.state.clientApplication.name),
      handleNameChange,

      surname: computed(() => store.state.clientApplication.surname),
      handleSurnameChange,

      email: computed(() => store.state.clientApplication.email),
      handleEmailChange,

      phones: computed(() => store.state.clientApplication.phones),
      handlePhoneChange,

      addPhoneOptions,
      handleAddPhone: ((type: PhoneTypeCodes) => {
        store.commit(MutationMethods.ADD_PHONE, type);
      }),

      phoneCodifierMap,
    };
  },
});
</script>
