<template>
  <InputWrapper>
    <RadioGroup :options="membershipOptions" :value="membershipCode" :handle-change="handleMembershipChange" />
  </InputWrapper>

  <p class="membership-form-fields__description" v-if="membershipCodifier.description" v-html="membershipCodifier.description" />
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import MutationMethods from '@/store/enum/MutationMethods';
import { useStore } from '@/store';
import MembershipCodes from '@/components/enum/MembershipCodes';
import membershipCodifierValues from '@/components/constants/membershipCodifierValues';
import RadioGroup from '@/components/ui_elements/RadioGroup.vue';
import { ISelectOption } from '@/components/ui_elements/interface/ISelectOption';
import InputWrapper from '@/components/ui_elements/InputWrapper.vue';

export default defineComponent({
  components: {
    RadioGroup,
    InputWrapper,
  },
  setup() {
    const store = useStore();

    const membershipCode = computed(() => store.state.clientApplication.membershipCode);

    const membershipCodifierMap = computed(() => store.getters.membershipCodifierMap);
    const membershipCodifier = computed(() => membershipCodifierMap.value[membershipCode.value]);

    const handleMembershipChange = ((newMembershipCode: MembershipCodes) => {
      store.commit(MutationMethods.SET_MEMBERSHIP_CODE, newMembershipCode);
    });

    const membershipOptions = computed<ISelectOption[]>(() => membershipCodifierValues.map((membershipCodifierValue) => ({
      label: membershipCodifierValue.title,
      value: membershipCodifierValue.code,
    })));

    return {
      membershipOptions,
      membershipCode,
      membershipCodifier,
      membershipCodifierMap,
      handleMembershipChange,
    };
  },
});
</script>

<style lang="scss" scoped>
@import "../../assets/styles/abstracts/variables";

.membership-form-fields {
  &__description  {
    margin-top: spacer(7);
  }
}
</style>
