<template>
  <LabeledList :items="overviewItems" />

  <a-button type="link" @click="openModal" class="button-modal-trigger" :disabled="isDisabled">Edit</a-button>

  <Modal :is-open="isModalOpen" :handle-cancel="closeModal" title="Application edit">
    <ContactInformationFormFields />
    <MembershipFormFields />
  </Modal>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import MutationMethods from '@/store/enum/MutationMethods';
import { useStore } from '@/store';
import Modal from '@/components/ui_elements/Modal.vue';
import ContactInformationFormFields from '@/components/steps/ContactInformationFormFields.vue';
import MembershipFormFields from '@/components/steps/MembershipFormFields.vue';
import LabeledList from '@/components/ui_elements/LabeledList.vue';
import { LabeledListItemType } from '@/components/ui_elements/interface/LabeledListItemType';

export default defineComponent({
  components: {
    Modal,
    ContactInformationFormFields,
    MembershipFormFields,
    LabeledList,
  },
  setup() {
    const store = useStore();

    const isModalOpen = computed(() => store.state.isModalOpen);
    const setIsModalOpen = ((isOpen: boolean) => {
      store.commit(MutationMethods.SET_IS_MODAL_OPEN, isOpen);
    });

    const membershipCodifierMap = computed(() => store.getters.membershipCodifierMap);
    const phoneCodifierMap = computed(() => store.getters.phoneCodifierMap);

    const overviewItems = computed<LabeledListItemType[]>(() => {
      const { clientApplication } = store.state;
      const items: LabeledListItemType[] = [
        ['First name', clientApplication.name],
        ['Last name', clientApplication.surname],
        ['E-mail', clientApplication.email],
        ['Membership', membershipCodifierMap.value[clientApplication.membershipCode].title],
      ];

      clientApplication.phones.forEach((phone) => {
        items.push([
          `${phoneCodifierMap.value[phone.type].title} Phone`,
          phone.number,
        ]);
      });

      return items;
    });

    return {
      overviewItems,
      isModalOpen,
      openModal: () => setIsModalOpen(true),
      closeModal: () => setIsModalOpen(false),
      isDisabled: computed(() => store.state.isLoading),
    };
  },
});
</script>

<style lang="scss" scoped>
@import "../../assets/styles/abstracts/variables";

.button-modal-trigger {
  margin-top: spacer(3);
  padding: 0;

  &:hover {
    &:not(:disabled) {
      opacity: .8;
    }
  }
}
</style>
