<template>
  <div class="client-application container">
    <ClientApplicationSteps :ordered-steps-configuration="orderedStepsConfiguration" />

    <div class="client-application__container">
      <ClientApplicationStepContent :stepHandle="stepHandle" />
      <ClientApplicationNavigation :ordered-steps-configuration="orderedStepsConfiguration" />
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from 'vue';
import { useStore } from '@/store';
import ClientApplicationStepHandles from '@/components/steps/enum/ClientApplicationStepHandles';
import ClientApplicationSteps from './steps/ClientApplicationSteps.vue';
import ClientApplicationNavigation from './steps/ClientApplicationNavigation.vue';
import ClientApplicationStepContent from './steps/ClientApplicationStepContent.vue';

export default defineComponent({
  components: {
    ClientApplicationNavigation,
    ClientApplicationSteps,
    ClientApplicationStepContent,
  },
  props: {
    stepHandle: {
      type: String as PropType<ClientApplicationStepHandles>,
      required: true,
    },
  },
  setup(props) {
    const store = useStore();

    const orderedStepsConfiguration = computed(
      () => store.getters
        .getClientApplicationStepsConfiguration(props.stepHandle)
        .sort((a, b) => a.order - b.order),
    );

    return {
      orderedStepsConfiguration,
    };
  },
});
</script>

<style lang="scss" scoped>
@import "../assets/styles/abstracts/variables";

.client-application {
  &__container {
    padding: spacer(7);
    background-color: $color-background-light;
    box-shadow: 0 3px 16px $color-shadow;
    border-radius: 20px;
    min-height: calc(100vh - 220px);
    display: flex;
    flex-flow: column;
  }
}
</style>
