<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link
      :to="clientApplicationRoutes[ClientApplicationStepHandles.CONTACT_INFO]"
    >Form</router-link>
  </div>

  <router-view/>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import clientApplicationRoutes from '@/router/constants/ClientApplicationRoutes';
import ClientApplicationStepHandles from '@/components/steps/enum/ClientApplicationStepHandles';

export default defineComponent({
  setup() {
    return {
      clientApplicationRoutes,
      ClientApplicationStepHandles,
    };
  },
});
</script>

<style lang="scss" scoped>
#nav {
  padding: 30px;
  text-align: center;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-active {
      color: #42b983;
    }
  }
}
</style>
