// _variables.scss

// Colors
$color-light: #fff;
$color-accent-blue: #15B0FC;

$color-text-light: $color-light;
$color-text-dark: #394556;
$color-text-accent: $color-accent-blue;

$color-button-primary: $color-accent-blue;

$color-background: #EEEEEE;
$color-background-light: $color-light;
$color-background-table: #D5DEE4;

$color-border: #C8D3DB;
$color-shadow: #0000001A;

// font sizes
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-28: 1.75rem;
$font-size-34: 2.125rem;

// spacing
$spacer: 5px;
$spacers: ();
$spacers: map-merge(
    (
        0: 0,
        1: $spacer,
        2: ($spacer * 2),
        3: ($spacer * 3),
        4: ($spacer * 4),
        5: ($spacer * 5),
        6: ($spacer * 6),
        7: ($spacer * 7),
        8: ($spacer * 8),
        9: ($spacer * 9),
        10: ($spacer * 10),
        11: ($spacer * 11),
        12: ($spacer * 12),
    ),
    $spacers
);

@function spacer($key) {
  @return map-get($spacers, $key);
}

// inputs
$input-border-radius: 8px;
$input-border-width: 2px;
