@import '../styles/abstracts/variables';

html {
  font-size: 16px;
}

body {
  font-size: $font-size-16;
  line-height: 1.3;
  font-family: 'Roboto', sans-serif;
  color: $color-text-dark;
  background-color: $color-background;
}

input,
select,
textarea,
button {
  font-family:inherit;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -#{spacer(3)};
  margin-left: -#{spacer(3)};
}

.col {
  padding-right: spacer(3);
  padding-left: spacer(3);
}

.container {
  width: 490px;
  margin: 0 auto;
}

.ant {
  &-input {
    line-height: 30px;
    border-radius: $input-border-radius;
    border: $input-border-width solid $color-border;

    &:hover,
    &:focus {
      border-right-width: $input-border-width !important;
    }
  }

  &-input-group {
    &.ant-input-group-compact {
      display: flex;

      .ant-select {
        width: 25%;
        flex-shrink: 0;
      }

      & > .ant-select:first-child {
        & > .ant-select-selector {
          border-top-left-radius: $input-border-radius;
          border-bottom-left-radius: $input-border-radius
        }
      }

      & > *:last-child {
        border-right-width: $input-border-width;
        border-top-right-radius: $input-border-radius;
        border-bottom-right-radius: $input-border-radius;
      }

      .ant-input {
        width: 100%;
      }
    }
  }

  &-select {
    &-single {
      .ant-select-selector .ant-select-selection-item,
      .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
        line-height: 40px;
      }

      &:not(.ant-select-customize-input) {
        .ant-select-selector {
          border: $input-border-width solid $color-border;
          height: 42px;
        }
      }
    }

    &-arrow {
      right: spacer(4);

      .anticon {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $color-text-dark;
        position: absolute;
        top: 50%;
        transform: translateY(-2px);

        svg {
          display: none !important;
        }
      }
    }
  }

  &-radio {
    & + * {
      padding-left: spacer(4) !important;
    }

    &-group {
      & + & {
        margin-top: spacer(6);
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;
      font-size: $font-size-18;
    }

    &-inner {
      width: 44px;
      height: 44px;
      border-radius: $input-border-radius;
      border: $input-border-width solid $color-border;
    }

    &-checked {
      .ant-radio-inner {
        background-color: $color-accent-blue;
        border-color: $color-border;

        &:before,
        &:after {
          content: '';
          position: absolute;
          background-color: $color-background-light;
          transform-origin: left bottom;
          border-radius: 2px;
          top: auto;
        }

        &:before {
          height: 25%;
          width: 2px;
          left: 0;
          bottom: spacer(2);
          transform: translateX(17px) rotate(-45deg);
        }

        &:after {
          height: 2px;
          width: 50%;
          left: 0;
          bottom: spacer(2);
          top:auto;
          transform: translateX(17px) rotate(-45deg);
        }
      }
    }
  }
}
